h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}

div {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #4caf50;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

.toast-container {
  position: fixed;
  top: 16px;
  right: 16px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* Toster Item */
.toast-item {
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  padding: 16px;
  margin-top: 8px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.toast-item.success {
  background-color: #4caf50;
}

.toast-item.error {
  background-color: #ff0000;
}

.toast-message {
  font-size: 16px;
  font-weight: bold;
}

.toast-close-button {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.toast-close-button:hover {
  opacity: 0.8;
}
