<header class="header">
  <nav class="navbar">
    <ul class="nav-menu">
      <li class="nav-item"><a class="nav-link" routerLink="/zaposleni">Pregled Zaposlenih</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/kupci">Pregled Kupaca</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/vremenska-prognoza">Pregled Vremenske Prognoze</a></li>
      <li class="nav-item" (click)="logout()"><a class="nav-link" style="cursor: pointer;">Odjavi se</a></li>
    </ul>
  </nav>
</header>
